
/**
 * Chartio logo.
 */

.logo[data-logo="Chartio"] {
  width: 4em;
}

.logo[data-logo="Chartio"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="Chartio"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Chartio"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
